@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gradient-to-br from-gray-900 via-gray-900 to-emerald-900 min-h-screen text-white selection:bg-emerald-500/30 font-sans;
        background-attachment: fixed;
        /* Ensures gradient covers full scrollable area */
    }
}